

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <div class="row">
    <div class="col-md-0 mx-auto my-5">
    <ngbd-carousel-config></ngbd-carousel-config>
</div>
</div>
 
    <div style="display: flex; justify-content: center;">
        <a  [routerLink]="['/payday']" > <img src="/assets/boost-payday.png"  /> </a>&nbsp;&nbsp;&nbsp;
        <a  [routerLink]="['/homeliving']" ><img src="/assets/KeyBanner_HomeLivingFair.png"  /></a>&nbsp;&nbsp;&nbsp;
        <a  [routerLink]="['/giveaway']" ><img src="/assets/keybanner-credit-giveaway.png " /></a>
      </div>

        
